td {
    background-color: aquamarine;
    border: solid 1px;
    width: 50px;
    height: 50px;
    text-align: center;
}
.rood{
    background-color: red;
}
.water {
    background-color: aquamarine; 
}

#speel {
    background-color: #91946A; 
     border: none;
     color: white;
     padding: 16px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     transition-duration: 0.4s;
     cursor: pointer;
     width:250px;
}